<form class="newProductForm" action="#" [formGroup]="newProductForm" (ngSubmit)="Submit($event)">

  <div class="form-group">
    <label for="nameInput">Наименование</label>
    <input id="nameInput" type="text" class="form-control" formControlName="Name">
  </div>

  <div class="form-group">
    <label for="articleInput">Артикул</label>
    <input id="articleInput" type="text" class="form-control" formControlName="Article">
  </div>

  <button type="submit" class="btn btn-primary btn-block">Создать</button>
</form>

