<div class="mb-1">
  <button class="btn btn-success" (click)="newProduct()">Создать товар</button>
</div>
<table class="table" *ngIf="!loading">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Наименование</th>
    <th scope="col">Артикул</th>
    <th scope="col">Описание</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <th scope="row">{{product.Id}}</th>
    <td>{{product.Name}}</td>
    <td>{{product.Article}}</td>
    <td>{{product.Description}}</td>
  </tr>
  </tbody>
</table>

