<div class="row">
  <div class="col-md-4">
    <p>Товары</p>
  </div>
  <div class="col-md-8">
      <button class="btn btn-success">Обновить товары</button>
  </div>

</div>
<hr>

<div>
  <div class="row">
    <div class="col-md-4">
      <p>Остатки</p>
    </div>

    <div class="col-md-4">
      <select id="depInput" [(ngModel)]="selectedCompany" class="form-select" name="first">
        <option *ngFor="let o of companies">
          {{o}}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <button class="btn btn-success" [disabled]="!selectedCompany" (click)="GetLeftoversForDepartment()">Просмотреть остатки</button>
    </div>
  </div>

  <table class="table mt-2" *ngIf="warehouseProducts?.length > 0">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование</th>
      <th scope="col">Артикул</th>
      <th scope="col">Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouseProduct of warehouseProducts">
      <th scope="row">{{warehouseProduct.Id}}</th>
      <td>{{warehouseProduct.Product.Name}}</td>
      <td>{{warehouseProduct.Product.Article}}</td>
      <td>{{warehouseProduct.Count}}</td>
    </tr>
    </tbody>
  </table>
</div>

<hr>
